@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital@0;1&display=swap');

.source-code-pro {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.press-start-2P-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
